<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Noticias - {% block titulo %}{% endblock titulo %}</title>
	<meta name="description" content="Plataforma para la administración de noticias.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/media/css/normalize.css">
	<link rel="stylesheet" href="/media/css/style.css" />
	<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/media/bootstrap/css/bootstrap-responsive.css">
	<script src="/media/js/jquery.js"></script>
	<script src="/media/bootstrap/js/bootstrap.js"></script>
	<script src="/media/js/modernizr-min.js"></script>
	<script type="text/javascript">
		function contador (campo, cuentacampo, limite) { 
   			if (campo.value.length > limite) campo.value = campo.value.substring(0, limite); 
   			else cuentacampo.value = limite - campo.value.length; 
		}
	</script>
	<script type="text/javascript">
		$(document).on('ready',function(){
			$.ajax({
				type:"GET",
				contentType:"application/json; charset=utf-8",
				dateType:"json",
				url:"/ws/noticias/",
				success:function(response){
					var i = (response.length-1)-3;
					for(i;i<=response.length-1;i++){
						$('#NoticiasNuevas').append("<li>"+response[i].fields.titulo+"</li>");
					}
				}
			});
		});
	</script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand"href="/noticias">Noticias</a>
			{% if user.is_authenticated %}
			<li><a href="{% url "vistaLogout" %}"> Cerrar Seccion</a></li>
			{% endif %}
		</div>
	</div>
	<!--<section class="container-fluid" style="padding-top:80px;">-->
	<section class="contenedor">
		<!--<div class="row-fluid">-->
			{% block contenido %}
			{% endblock contenido %}
		<!--</div>-->
	</section>
	<footer class="footer">
		<h4 >&copy Noticias Apptitud</h4>
	</footer>
</body>
</html>