{% extends 'base.html' %}
{% block scripts %}
    <script src="/media/js/cufon-yui.js" type="text/javascript"></script>
    <script src="/media/js/ChunkFive_400.font.js" type="text/javascript"></script>
    <script type="text/javascript">
        Cufon.replace('h1',{ textShadow: '1px 1px #fff'});
        Cufon.replace('h2',{ textShadow: '1px 1px #fff'});
        Cufon.replace('h3',{ textShadow: '1px 1px #000'});
        Cufon.replace('.back');
    </script>
{% endblock scripts %}
{% block title %}
Resumen de las Noticias
{% endblock %}

{% block contenido %}
	{% if user.is_authenticated %}
		<h1>Resumen de las Noticias</h1>
		<a class ="btn" href="{% url "vista_nueva_noticia" %}"><li class="icon-plus"></li>Noticia Nueva</a>
		
	{% if noticias %}
		<table class="table table-hover">
			{% for noticia in noticias %}
				<tbody>
					
						<section id="noticia">
							<tr>
						<article>
							<h1>{{noticia.titulo}}</h1>
							<img src="/media/{{ noticia.imagen }}"/>
							<h3>{{noticia.entradilla}}</h3>
								<a class="btn" href="/noticia/{{noticia.id}}"><li class="icon-search"></li>Leer</a>
								<a class="btn" href="/edit/noticia/{{noticia.id}}"><li class="icon-pencil"></li>Editar</a>
								<a class="btn" href="/delete/noticia/{{noticia.id}}"><li class="icon-remove"></li>Eliminar</a>	
						</article>
						</tr>
						</section>					
				</tbody>
			{% endfor %}
		</table>
	{% else %}
		<h3>No se han publicado noticias</h3>
	{% endif %}
	{% else %}
	<html>
	<head>
		<meta http-equiv="REFRESH" content="0;url=/login/">
	</head>
	<body>
	
	</body>
	</html>
	{% endif %}
{% endblock contenido %}